@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/***Обнулення****/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 20px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

/*--------------------*/

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    background-color: #fff;
    color: #000000;
    padding-top: 50px;
}

section,
footer {
    padding: 3rem 0 5rem 0;
}

.container {
    width: 86%;
    max-width: 1720px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #5C9625;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}

.hover-scale:hover,
.mean__icon {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.hover-scale:hover,
.mean:hover .mean__icon {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.btn-hover:hover {
    -webkit-box-shadow: 0.3rem 0.4rem 0.7rem rgb(0 0 0 / 18%);
    box-shadow: 0.3rem 0.4rem 0.7rem rgb(0 0 0 / 18%);
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.menu__item a {
    font-size: 0.9rem;
    color: #000000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__item a:hover,
.mean:hover .mean__title {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7)
}

.head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.head__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.head__button {
    width: 250px;
    height: 80px;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: -0.025em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.head__button:hover {
    font-weight: 600;
}

.head__button-green {
    background: #5C9625;
    color: #fff;
}

.head__button-yellow {
    background: #FFD500;
    color: #005BBB;
}
.footer {
    background: url(/images/background.jpg);
}
.footer p, .footer label {
    font-size: 0.9rem;
}

.footer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2.5rem 3fr 2.5rem 4fr;
    grid-template-columns: 2fr 3fr 4fr;
    grid-gap: 2.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 36px;
}

.footer__paragraph {
    margin-bottom: 26px;
}

.footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.footer__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.footer__icon img{
    width: 100%;
}

.footer__subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.footer__label {
    white-space: nowrap;
}

.footer__input {
    width: 100%;
    height: 44px;
    padding: 6px 10px;
}

.footer__button {
    background: #FFFEFE;
    width: 153px;
    height: 32px;
    padding: 5px 16px;
    font-weight: 700;
    font-size: 0.9rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer__button:hover {
    color: #5C9625;
    scale: 1.05;
}

.scroll-opacity {
    opacity: 0;
}

.element-show {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

/**************/
.tracking-in-expand-fwd-bottom {
    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-100px) translateY(500px);
        transform: translateZ(-100px) translateY(500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd-bottom {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-100px) translateY(500px);
        transform: translateZ(-100px) translateY(500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1300px) {
    * {
        font-size: 16px;
    }

    .head__logo img {
        width: 70%;
    }

    .head__button {
        height: 70px;
    }

    .footer__input {
        height: 34px;
    }
}